<footer class="footer">
    <div class="content has-text-centered">
      <p class="p-footer">
        Copyright <img src="/images/copyright.png" width="10px">2023 All Rights Reserved | <strong> FK Designs</strong> by Fatima Khalid.
      </p>
    </div>
  </footer>
</html>