<% include partials/header.ejs %>

  <div class="content is-normal" id="am-content">
    <figure>
      <img id="headshot" src="/images/profilePic.jpg">
    </figure>
    <h3>About Me</h3>
    <p>
      Hello, I'm Fatima, a passionate and dedicated second-year student at Centennial College, 
      pursuing a degree in Software Engineering Technician. My journey in the world of technology 
      began with a curiosity that has evolved into a profound interest in software development 
      and programming. 
    </p>
    <p>
      I thrive on tackling complex problems and enjoy the creative process of coding. My 
      coursework has equipped me with valuable skills in programming languages, problem-solving, 
      and software development methodologies. I'm enthusiastic about exploring innovative solutions 
      and staying up-to-date with the ever-evolving tech industry.
    </p>
    <p>
      I'm excited to continue my educational journey and contribute to the exciting world of 
      software engineering. When I'm not immersed in code, you can find me exploring new tech trends, 
      experimenting with personal projects, or expressing my creativity through art.
    </p>
    <p> You may download my resume here. <br><a href="/images/Resume-Tech.pdf" class="button is-dark">Resume</a></p>
  </div>
</body>

<% include partials/footer.ejs %>