<% include partials/header.ejs %>

   <div class="content is-normal" id="content">
    <div class="content-container">
        <div class="h-statement"> 
          <h1 style="color: white;"><b> Mission Statement:</b></h1>
          <p> "As a dedicated software engineer with a passion for innovation and problem-solving, my 
              mission is to leverage my technical expertise to develop cutting-edge software solutions 
              that empower businesses and improve the lives of users. My philosophy is simple: Cultivate
              knowledge, foster collaboration, drive growth, and engineer effective solutions."
          </p>
        </div>
      <div class="h-overview">
          <h2>Brief Overview:</h2>
          <p>Welcome to my website resume! My name is <strong>Fatima Khalid</strong> and I am a second year 
              student of software engineering at Centennial College. On this website, you will find all resources
              you need to get to know me better as a prospect employee. Click on any of the relevant links below 
              to get started.
          </p>
          <ul class="link-list">
              <li><b><a href="/about" style="color: rgb(62, 62, 62);">About Me</a></b>: Includes resume.</li>
              <li><b><a href="/projects" style="color: rgb(62, 62, 62);">Projects</a></b>: My recent projects.</li>
              <li><b><a href="/services" style="color: rgb(62, 62, 62);">Services</a></b>: Services available.</li>
              <li><b><a href="/contact" style="color: rgb(62, 62, 62);">Contact</a></b>: Here, you can find all the options on how to get in touch with me.</li>
          </ul>
      </div>
    </div>
  </div>
</body>

<% include partials/footer.ejs %>